{% extends 'main/layout.html' %}
{% load scores_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ user.username }}</h1>
        <img class="profile-image" src="{{ user.profile_image }}" alt=""><br><br>

    <h2>ЧАРТ</h2>
    {% if average_ratings.items %}
    {% for article, avg_rating in average_ratings.items %}
        <div class="card">
        <h2>{{ article.name }}</h2>
        <p>Возраст: {{ article.age }}</p>
        <img class='tyan-photo' src="{{ article.photo }}">
        <h3 class="rating">{{ avg_rating|floatformat:2 }}</h3>
        {% if not article|has_rated:request.user %}
            <a href="{% url 'rate_article' article.slug %}" class="btn btn-warning">Поставить оценку</a>
        {% else %}
            <a href="{% url 'article-update' article.slug %}" class="btn btn-info">Редактировать свои оценки</a>
        {% endif %}
        </div>
    {% endfor %}
    {% if page_obj.has_other_pages %}
            <nav class="list-pages">
                <ul>
                    {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                    {% endif %}
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>Пока пусто</p>
    {% endif %}
    </div>
{% endblock %}
