{% extends 'main/layout.html' %}
{% load scores_tags %}

{% block title %}ТОП{% endblock %}

{% block content %}
    <div class="features">
        <h1>Статьи и оценки пользователей</h1>
        <ul>
        {% for user in users %}
            <li>
                <strong>{{ user.username }}</strong>
                <ul>
                    {% for rating in user.ratings.all %}
                        <li>
                            <strong>{{ rating.article.name }}</strong>
                            <br>
                            Усредненная оценка: {{ rating.avg_rating|floatformat:2 }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
        <ul>
    {% for user in users %}
        <li>
            <strong><a href="{% url 'user_profile' user.username %}">{{ user.username }}</a></strong>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock %}
