{% extends 'main/layout.html' %}
{% load scores_tags %}

{% block title %}Чарт {{ user.username }}{% endblock %}

{% block content %}
    <div class="page-content">
        <h1>{{ user.username }}</h1>
        <img class="user-card__image page-content__image" src="{{ user.profile_image }}" alt="{{user.username}}">

    <h2>ЧАРТ</h2>
    {% if average_ratings.items %}
    <ul class="tyans">
        {% for article, avg_rating in average_ratings.items %}
            <li class="tyans__item">
                <div class="tyan-card">
                <h2>{{ article.name }}</h2>
                <p>Возраст: {{ article.age }}</p>
                <img class='tyan-card__photo' src="{{ article.photo }}">
                <h3 class="tyan-card__rating">{{ avg_rating|floatformat:2 }}</h3>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    {% if page_obj.has_other_pages %}
            <nav class="list-pages">
                <ul>
                    {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                    {% endif %}
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>Пока пусто</p>
    {% endif %}
    </div>
{% endblock %}
