{% extends 'main/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="features">
    <h1>Авторизация</h1>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" 
            value="{% if form.username.value %}{{form.username.value}}{% endif %}" 
            name="username" id="id_username" 
            placeholder="Введите ваше имя пользователя" 
            required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="id_password" 
            placeholder="Введите ваш пароль" required>
        </div>
        <button type="submit" class="btn btn-success">Войти</button> 
    </form>
</div>
{% endblock %}