{% extends 'main/layout.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<div class="features">
    <h1>Обратная связь</h1>
    <p>(Пока на стадии разработки)</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <p class="label">Имя</p>
        {{ form.name }} <br>
        <p class="label">Сообщение</p>
        {{ form.content }} <br>
        <button type="submit" class="btn btn-warning">Отправить</button>
    </form>
</div>
{% endblock %}