{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <div class="card">
            <p>Тин чарт без Ники Исаевой и Никиты Потапова</p>
            <p>Слева находится главное меню</p>
            <p>Пока вы не зареганы, можно только посмотреть Чарт и пользователей</p>
            <p>Чтобы ставить свои оценки в чарте, необходимо <b>войти или зарегаться</b></p>
            <p>А еще можно <b>добавить</b> своих любимиц в чарт, чтобы другие их оценивали (только для авторизированных пользователей)</b></p>
        </div>
        <a href="{% url 'article_list' %}" class="btn btn-info">Перейти в ЧАРТ</a>
        <a href="{% url 'about' %}" class="btn btn-warning">На страницу про нас</a>

        {% for el in values %}  <!-- передача данных (data в файле views.py)-->
            {% if el == 'Hello' %}
                {% filter upper %}
                    <p>{{ el|upper }}</p>  <!-- фильтр -->
                {% endfilter %}
            {% endif %}
        {% endfor %}


    </div>
{% endblock %}
