aside {
    position: fixed;
    top: 0;
    left: 0;
    background: #B8AE93;
    width: 250px;
    padding: 0;
    height: 100%;
    color: #000;
    border-right: 5px solid #9F843A;
    text-align: center;
}

aside img {
    width: 120px;
    display: block;
    margin: 50px auto;
}

aside h3 {
    font-size: 28px;
}

aside ul {
    list-style: none;
    text-align: left;
}

aside ul li {
    color: #000;
    display: block;
    margin-top: 10px;
    transition: transform .2s ease;
}

aside ul a {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #2A316E;
    display: block;
    margin-top: 10px;
    transform: scale(1.05);
}

