.aside {
    width: 25%;
    max-width: 400px;
    padding: 50px;
    height: 100%;
    color: #000;
    border-right: 2px solid #9F843A;
    min-height: 100vh;
}

.aside__logo {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto 50px;
}

.aside__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.aside__link {
    color: #000;
    display: block;
    transition: transform .2s ease;
}

.aside__link:hover {
    color: #2A316E;
    display: block;
    transform: scale(1.02);
}
