.list-pages ul {
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
}
.list-pages ul li {
	display: inline-block;
	margin: 0;
	display: flex;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 0;
	border: 1px solid #000000;
	border-radius: 50%;
	transition: transform .2s ease;
	font-size: 24px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #666666;
	transform: scale(1.05);
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}