@import "tyan-card.css";
@import "aside.css";
@import "list-pages.css";
@import "users.css";

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(245, 227, 179, 1) url('https://wp-s.ru/wallpapers/13/8/508263849466057/devushka-indeec-s-kop-m-na-zh-ltom-fone.jpg') no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-left: 255px;
    padding: 50px;
    text-align: center;
}

.page-content {
    max-width: 1280px;
    margin: 0 auto;
}

.page-content__image {
    max-width: 300px;
    margin: 0 auto 30px;
}

.page-content h1 {
    font-size: 50px;
}

.page-content p {
    max-width: 400px;
    margin: 2px auto;
    font-size: 18px;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: center;
}

form {
    width: 500px;
    margin: 50px auto;
}

.label {
    margin: 10px;
}

.tyans {
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.tyans__item {
    width: calc(33.33% - 30px);
}



.selected {
    color: grey;
    list-style: none;
}

.category {
  list-style: none;
}

.categories {
  text-align: center;
  padding: 0;
  font-size: 18px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto 30px;
}



.login_note {
    color: #675113;
}

.cat, .user-link {
    text-decoration: none;
    color: black;
    transition: transform .2s ease;
}

.cat:hover, .user-link:hover {
    color: #675113;
    display: block;
    transform: scale(1.05);
}

.form-label {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}